@font-face {
    font-family: 'Baloo Bhai';
    src: url('BalooBhai-Regular.woff2') format('woff2'),
        url('BalooBhai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

