.footer{
    display: flex;
    padding: 110px 0 100px;
}
.footer_right{
    display: flex;
}
.footer_left{
    padding: 0 90px 0 60px;
}
.footer_left h2, .about_content h2{
    font-family: 'Baloo Bhai';
    color: #6c9894;
    font-weight: 400;
    padding-bottom: 20px;
    font-size: 38px;
}
.footer_left p{
    font-family: 'Montserrat';
    color: #6c9894;
    font-weight: 400;
    font-size: 20px;
}
.about_content ul li a{
    text-decoration: none;
    color: #6c9894;
    font-family: 'Montserrat';
    color: #6c9894;
    font-weight: 400;
    line-height: 40px;
    font-size: 20px;
}
.about_content ul li{
    list-style-type: none;
}
.about_content{
    padding: 0 60px 0 0;
}
.fa{
    width: 30px;
    height: 30px;
    color: #f4f9f4;
    background-color: #6c9894;
    border-radius: 50%;
    margin-right: 10px;
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-whatsapp{
    text-align: center;
    padding-top: 6px;
}